*/__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
env/
venv/
ENV/
build/
dist/
*.egg-info/
.ipynb_checkpoints/
logs/
tensorboard/
checkpoints/
*.ckpt
*.pth
*.pt
*.log
debug/
.vscode/
.idea/
.mypy_cache/
weights/
*.pycache/
.cache/
results
results1/